src/Aufg_3/Aufg_3c.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.chefkoch.de/rezepte/24641006006067/Lenchen-s-Schokoladenkuchen.html" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rezepte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rezept">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Titel"/>
              <xs:element name="Bild">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Bild">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="id"/>
                            <xs:attribute type="xs:int" name="width"/>
                            <xs:attribute type="xs:int" name="height"/>
                            <xs:attribute type="xs:string" name="src"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Zutaten">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Zutaten" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="link" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:anyURI" name="src"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Menge" use="optional"/>
                        <xs:attribute type="xs:string" name="Einheit" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="link">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:anyURI" name="src"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Titel2"/>
              <xs:element name="Arbeitszeit">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:int" name="value"/>
                      <xs:attribute type="xs:string" name="Einheit"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Schwierigkeitsgrad">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:string" name="Value"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Brennwert">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:int" name="value"/>
                      <xs:attribute type="xs:string" name="Einheit"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Zubereitung"/>
              <xs:element name="Kommentar" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name" minOccurs="0"/>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:anyURI" name="Bild"/>
                    <xs:element type="xs:int" name="Datum"/>
                    <xs:element type="xs:string" name="Kommentar"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>